@import '/../_commonPartials/_all';

* {
  // background-color: tomato;
  color: $off-white;
  margin: 0;
  padding: 0;
}

.primary-header-bs {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 65px;
  width: 100%;
  background-color: $green-1;
  border-bottom: 5px solid $purple;
}
