/* Greens */
$swyfft-green-1: #8FBF21;
//primary swyfft green
$swyfft-green-2: #4E6B0B;
$swyfft-green-3: #273803;
/* Neutrals */
$true-white: #FFFFFF !important;
//used only for highlight and modal bkg
$swyfft-white: #FAFBFC;
//hsl(206,1,99)
$swyfft-gray-1: #F2F4F5;
//hsl(206,1,96)
$swyfft-gray-2: #E8EAEB;
//hsl(206,1,92)
$swyfft-gray-3: #979899;
//hsl(206,1,60)
$true-black: #000000 !important;
/* ui element colors */
$error-red: #ea4d4d;
/*
    note:
    - numbers go from brightest (1) to darkest (3)
    - grays all have same hue + saturation but lightness varies on HSL scale
*/
