/*
    Visual Style Guide: https://www.dropbox.com/s/5w88x69rullg6h7/02-layout.png?dl=0
*/
$mobile: "only screen and (min-width: 320px) and (max-width: 767px)";
$tablet: "all and (min-width: 768px) and (max-width: 991px)";
$desktop-small: "all and (min-width: 992px) and (max-width: 1199px)";
$desktop-large: "all and (min-width: 1200px)";
